/* Movie Card Design */
.single-movie{
  margin-bottom: 3rem;
}

.single-movie .movie-poster {
  width: 100%;
  height: 435px;
  margin-bottom: 1rem;
  position: relative;
  border-radius: .5rem;
  overflow: hidden;
}

.single-movie .movie-poster::before{
  content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #14141d;
    border-radius: .5rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s linear;
}

.single-movie:hover .movie-poster::before{
  opacity: 0.9;
  visibility: visible;
}

.movie-poster .overlay-btns{
  position: absolute;
  list-style-type: none;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.single-movie:hover .movie-poster .overlay-btns{
  opacity: 1;
  visibility: visible;
}

.movie-poster .overlay-btns li + li {
  margin-top: 17px;
}

.movie-poster .overlay-btns li .btn {
  min-width: 200px;
  padding: 10px 34px;
  font-size: .8rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0;
  border-radius: 2rem;
  background: #e4d804;
  color: #151517;
  transform: translateY(-15px);
  opacity: 0;
  transition: all .5s;
}
.movie-poster .overlay-btns li:first-child .btn{
  box-shadow: 0 0 0 0 transparent;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) paused;
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) paused;
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) paused;
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) paused;
}

.movie-poster .overlay-btns li:first-child .btn {
  box-shadow: 0 0 0 0 rgb(228, 216, 4);
  -webkit-animation: pulse 1s infinite ease-in-out;
    -moz-animation: pulse 1s infinite ease-in-out;
    -ms-animation: pulse 1s infinite ease-in-out;
    animation: pulse 1s infinite ease-in-out;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 216, 4, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(228, 216, 4, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(228, 216, 4, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(228, 216, 4, 0.4);
    box-shadow: 0 0 0 0 rgba(228, 216, 4, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(228, 216, 4, 0);
      box-shadow: 0 0 0 10px rgba(228, 216, 4, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(228, 216, 4, 0);
      box-shadow: 0 0 0 0 rgba(228, 216, 4, 0);
  }
}

.movie-poster .overlay-btns li:nth-child(2) .btn:hover{
  background: #e4d804;
  color: #151517;
}
.movie-poster .overlay-btns li:nth-child(2) .btn {
  background: #12151e none repeat scroll 0 0;
  border: 2px solid #e4d804;
  color: #e4d804;
  transform: translateY(15px);
  opacity: 0;
}

.single-movie:hover .movie-poster .overlay-btns li .btn {
  opacity: 1;
  transform: translateY(0);
}

.movie-poster img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.movie-content {
  padding: 0 .5rem;
}
.movie-content .row{
  justify-content: space-between;
}

.movie-content .top {
  margin-bottom: 1rem;
}

.movie-content .top .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  flex-grow: 1;
}

.movie-content .top .title .link{
  color: #fff;
  transition: all .5s;
}
.movie-content .top .title .link:hover{
  color: #e4d804;
}

.movie-content .top .year {
  font-size: 14px;
  font-weight: 500;
  margin-left: 1rem;
  color: #e4d804;
}

.movie-content .bottom .quality,
.movie-content .bottom .type {
  border: 2px solid #fff;
    padding: 5px 10px;
    line-height: 1;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    color: #e4d804;
}

.movie-content .bottom .type{
  border-color: transparent;
  padding-right: 0;
}

@media (max-width: 960px) {
  .single-movie .movie-poster{
    height: 500px;
  }
}