@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  background: #1B252E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, .link{
  text-decoration: none;
  color: #FFF;
}
button, .btn,
input, .input, textarea, .textarea {
  display: inline-block;
  border: none;
  outline: none;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}