@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 150vh;
  background: #1B252E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
a, .link{
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}
button, .btn,
input, .input, textarea, .textarea {
  display: inline-block;
  border: none;
  outline: none;
}
button, .btn, a, .link {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.page-header{
  padding-top: 100px;
}